/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


// separate into different files

ul {
  list-style-type: none;
}

.lists > li {
  float: left;
  margin: 10px 30px;
}

form.card-form {
  margin-top: 30px;
  float: left;
}

button.board-delete {
  display: inline;
  opacity: 0;
}

.board-index-item:hover > button.board-delete {
  opacity: 100;
}


button.card-delete {
  opacity: 0;
}

.list-show {
  border: 1px solid black;
}

.card-show {
  border-bottom: 1px solid gray;
}

div.card_title:hover > button.card-delete {
  opacity: 100;
}
