<div class="list-title" data-ord="<%= list.escape("ord") %>">
  <h4><i><%= list.escape("title") %></i></h4>
  <button class="list-delete">Delete</button>
</div>

<ul class="cards" data-list-id="<%= list.id %>">

</ul>


<div class="new_card">

</div>
